<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/dashboard.css">  </head>
<header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="/sobre">Sobre mim</a></li>
                <li><a href="/disciplinas">Disciplinas</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </header>
<body>

<h1>Dashboard</h1>
<p>Total de disciplinas: <%= totalDisciplinas %></p>
<p>Total de projetos: <%= totalProjetos %></p>
<p>Projetos concluídos: <%= concluidos %></p>

<h3>Tecnologias mais usadas:</h3>
<ul>
  <% tecnologias.forEach(t => { %>
    <li><%= t %></li>
  <% }) %>
</ul>
</body>